.card {
  width: 300px;
  padding: 24px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin: 5px;
}
.card h2 {
  margin: 0 0 15px;
  color: #2563eb;
  font-size: 22px;
}

.card p {
  margin: 8px 0;
}
